@import '../../styles/variables';

.container {
  border: none;
  background-color: $accent-color;
  border: 2px solid $accent-color;
  border-radius: 3px;
  margin-right: 12px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: $font-color;
  &.outline {
    background-color: transparent;
    color: $accent-color;
  }
}