@import '../../styles/variables';

.container {
  display: flex;
  height: 200px;
  background-color: $black;
  margin-top: 20px;
  margin-bottom: 20px;
  &:hover {
    -webkit-box-shadow: -5px 42px 120px -28px rgba(0,0,0,0.54);
    -moz-box-shadow: -5px 42px 120px -28px rgba(0,0,0,0.54);
    box-shadow: -5px 42px 120px -28px rgba(0,0,0,0.54);
  }
  .img {
    height: 100%;
    width: 30%;
    background-size: cover !important;
    background-position: center !important;
  }
  .body {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    .content {
      .headerLink {
        border: none;
        background-color: transparent;
        color: $font-color;
        &:hover {
          text-decoration: underline;
        }
      }
      .summary {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      p {
        opacity: 0.5;
      }
      .stack {
        .stack-item {
          margin-right: 15px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.mobile-container {
  height: 400px;
  background-color: $black;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  .img {
    flex: 3;
    background-size: cover !important;
    background-position: center !important;
  }
  .content {
    flex: 2;
    padding: 15px;
    .headerLink {
      border: none;
      background-color: transparent;
    }
    .foot button {
      margin-bottom: 5px;
    }
    .summary {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    p {
      opacity: 0.5;
    }
    .stack {
      .stack-item {
        margin-right: 15px;
        margin-bottom: 20px;
      }
    }
  }
}